.html {
  background-image: url("../img/html5.png");
}

.css {
  background-image: url("../img/css3.png");
}

.js {
  background-image: url("../img/js.png");
}

.sass {
  background-image: url("../img/sass.png");
}

.rwd {
  background-image: url("../img/rwd.png");
}

.jquery {
  background-image: url("../img/jquery.png");
}

.es6 {
  background-image: url("../img/es6.png");
}

.react {
  background-image: url("../img/react.png");
}

.git {
  background-image: url("../img/git.png");
}

.jira {
  background-image: url("../img/jira.png");
}

.photoshop {
  background-image: url("../img/photoshop.png");
}

.illustrator {
  background-image: url("../img/illustrator.png");
}

.indesign {
  background-image: url("../img/indesign.png");
}

.captivate {
  background-image: url("../img/captivate.png");
}

.storyline {
  background-image: url("../img/storyline.png");
}
