header {
  & {
    background-color: $color-rainbow-navy;
    border-bottom: 1px solid $color-background-light;
    color: $color-font-on-dark;
    font-size: 2vh;
    position: fixed;
    width: 100%;
    z-index: 2;
    @media (max-width: $width-mobile) {
      font-size: 3vh;
    }
  }

  .header__content {
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: space-between;
    @media (max-width: $width-mobile) {
      height: 10vh;
    }
  }

  .logo {
    strong {
      font-weight: $font-bold;
    }
  }

  .social {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    @media (max-width: $width-mobile) {
      font-size: 2vh;
    }
  }

  a {
    color: $color-font-on-dark;
    margin-left: 1rem;
  }

  a:hover {
    opacity: 0.8;
  }

  .fa-stack-1x {
    color: $color-font;
    font-size: 1.5rem;
    @media (max-width: $width-mobile) {
      font-size: 2vh;
    }
  }

  .fa-github {
    font-size: 3.2rem;
    @media (max-width: $width-mobile) {
      font-size: 5.3vh;
    }
  }
}
