header {
  & {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid $color-background-light;
    color: $color-font-on-dark;
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .header__content {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    @media (min-width: $width-max) {
      margin: 0 auto;
      width: 120rem;
    }
  }

  .logo {
    strong {
      font-weight: 600;
    }
  }

  a {
    color: $color-font-on-dark;
  }

  a:hover {
    opacity: 0.8;
  }
}
