// Colors
$color-font: #000000;
$color-font-on-dark: #ffffff;
$color-background-light: #ffffff;
$color-background-darker: #efefef;
$color-border: #c0c0c0;
$color-button: #1dadba;
$color-footer: #003042;

// Rainbow
$color-rainbow-pink: #CD044F;
$color-rainbow-orange: #F26037;
$color-rainbow-yellow: #FDAA12;
$color-rainbow-blue: #1DADBA;
$color-rainbow-navy: #003042;
